    .body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    
    .compDiv {
        margin-top: 10px;
        align-content: center;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .loadingImage {
        margin: 200px 400px;
        align-content: center;
    }